<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="卡片面板编辑器"
            extensions="cardpanel"
            icon="icons/table-gear.png"
            contributorClass="com.riambsoft.rdt.editors.CardPanelEditorContributor"
            class="com.riambsoft.rdt.editors.CardPanelEditor"
            id="com.riambsoft.rdt.editors.MultiPageEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="rsclient2 developer tools"
            id="rsclient2_developer_tools_cardpanel">
      </category>
      <wizard
            name="创建卡片面板"
            icon="icons/table-gear.png"
            category="rsclient2_developer_tools_cardpanel"
            class="com.riambsoft.rdt.wizards.CardPanelNewWizard"
            id="com.riambsoft.rdt.wizards.CardPanelNewWizard">
      </wizard>
   </extension>

</plugin>
